In [25]:
import json
from collections import OrderedDict
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from datetime import datetime
import os.path
from io import StringIO

ASIA_URL='https://en.wikipedia.org/wiki/List_of_countries_in_Asia-Pacific_by_GDP_(nominal)'
NORTH_AMERICA_URL='https://en.wikipedia.org/wiki/List_of_North_American_countries_by_GDP_(PPP)'
SOUTH_AMERICA_URL='https://en.wikipedia.org/wiki/List_of_South_American_countries_and_dependencies_by_GDP_(PPP)'
EUROPE_URL='https://en.wikipedia.org/wiki/List_of_sovereign_states_in_Europe_by_GDP_(PPP)'
OCEANIA_URL='https://en.wikipedia.org/wiki/List_of_Oceanian_countries_by_GDP'
AFRICA_URL='https://en.wikipedia.org/wiki/List_of_African_countries_by_GDP_(PPP)'
URLS = [ASIA_URL, NORTH_AMERICA_URL, SOUTH_AMERICA_URL, EUROPE_URL, OCEANIA_URL, AFRICA_URL]
region_names = ["Asia", "North America", "South America", "Europe", "Oceania", "Africa"]
table_idxs = [0, 0, 0, 1, 0, 0]

In [39]:
region_infos = dict()

for region_name, url, idx in zip(region_names, URLS, table_idxs):    
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    raw_data = soup.select('table')

    # Transform raw data to pandas dataFrame
    table_df_list = pd.read_html(StringIO(str(raw_data)))
    tables_df = table_df_list[idx]
    
    if region_name=='Oceania':
        region_infos[region_name] = list(tables_df['Location'])
    else:
        region_infos[region_name] = list(tables_df['Country'])

In [45]:
region_infos['Asia']

['China',
 'Japan',
 'India',
 'South Korea',
 'Australia',
 'Indonesia',
 'Taiwan',
 'Thailand',
 'Singapore',
 'Bangladesh',
 'Philippines',
 'Vietnam',
 'Malaysia',
 'Hong Kong (China)',
 'Pakistan',
 'New Zealand',
 'Sri Lanka',
 'Myanmar',
 'Nepal',
 'Macau (China)',
 'Papua New Guinea',
 'Cambodia',
 'Mongolia',
 'Brunei',
 'Laos',
 'Maldives',
 'Fiji',
 'Bhutan',
 'Timor-Leste',
 'Solomon Islands',
 'Vanuatu',
 'Samoa',
 'Tonga',
 'Micronesia',
 'Marshall Islands',
 'Palau',
 'Kiribati',
 'Nauru',
 'Tuvalu']

    Rank            Country  GDP (millions of USD)
0      1              China               17700899
1      2              Japan                4230862
2      3              India                3732224
3      4        South Korea                1709232
4      5          Australia                1687713
5      6          Indonesia                1417387
6      7             Taiwan                 751930
7      8           Thailand                 512193
8      9          Singapore                 497347
9     10         Bangladesh                 446349
10    11        Philippines                 435675
11    12            Vietnam                 433356
12    13           Malaysia                 430895
13    14  Hong Kong (China)                 385546
14    15           Pakistan                 338237
15    16        New Zealand                 249415
16    17          Sri Lanka                  75296
17    18            Myanmar                  74861
18    19              Nepal                  41339
19    20      Macau (China)                  38840
20    21   Papua New Guinea                  31692
21    22           Cambodia                  30943
22    23           Mongolia                  18782
23    24             Brunei                  15153
24    25               Laos                  14244
25    26           Maldives                   6977
26    27               Fiji                   5511
27    28             Bhutan                   2686
28    29        Timor-Leste                   2023
29    30    Solomon Islands                   1690
30    31            Vanuatu                   1166
31    32              Samoa                    939
32    33              Tonga                    547
33    34         Micronesia                    458
34    35   Marshall Islands                    277
35    36              Palau                    267
36    37           Kiribati                    246
37    38              Nauru                    150
38    39             Tuvalu                     63